{% extends "auctions/layout.html" %}
{% block title %}
    Auction|Add Comment
{% endblock %}
{% block body %}

    <h2>Add comment</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'add_comment' id=item.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="comment" placeholder="Comment">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

{% endblock %}