{% extends "auctions/layout.html" %}
{% block title %}
    Auction|Categories
{% endblock %}
{% block body %}
<!-- 
	<div class="tabs">
		
		
	</div>
  -->
    <div class="choose">
        {%for row in rows %}
	        <div class="item">	                 	            
	            <a href="/products/detail/{{row.id}}">

	            	{{row.product_type}}
									
					<div class="label" style="font-size: 1em;">
						{{row.title}}
					</div>

					<img src="{{ row.image_url }}">

				</a>

	        </div>

        {% endfor %}
    </div>

{% endblock %}