.product_outer{
	/*border: 1px solid blue;*/
	margin: 5px;
	font-size: 20px;
	height: auto;
	clear: both;
	display: table;
}


.product_inner{
	/*border: 1px solid gray;*/
	margin: 5px;
	padding: 5%;
	padding-bottom: 0%;
	padding-top: 1%;
}

.image_view{
	width: 40%;
	float: left;
	align-items: center;
	text-align: center;
}

.product_image{
	width: 100%;
	height: 400px;
	padding: 40px;
}

.product_image:hover{
	padding: 10px;
	cursor: pointer;
}

.cart_button{
	width: 60%;
	margin: 5%;
	background-color: #f0ad4e;
	padding: 3%;
	border: none;
	color: #f7f7f7;
}

.cart_button:focus{
	outline: none !important;
}

.product_details{
	width: 57%;
	float: right;
}


.product_ingredients{
	float: left;
	width: 75%;
    font-family: 'Neuton', serif;
    font-size: 22px;
}

.ingredients{
	font-family: serif;		
	font-size: 20px;
}

.product_title{
	font-size: 45px;
	font-weight: bolder;
	width: 60%;
    font-family: 'Neuton', serif;
}

.product_description{
	font-family: serif;
	width: 80%;
	text-align: justify;
}

.product_concentration{
	font-weight: normal;
	width: 76%;
}

.added{
	background-color: gray;
	color: white;
}

.comment_section{
	margin: 5px;
	font-size: 20px;
	height: auto;
	/*border: 1px solid blue;*/
	padding: 5%;
	padding-top: 1%;
	width: 80%;	
}

.comment_title{
	font-family: 'Neuton', serif;
	font-size: 30px;
	margin: 10px;
}

.comment_row{
	width: 100%;
	clear: both;
	display: inline-flex;	
}

.comment_textbox{	
	width: 80%;
	margin: 5px;
	margin-right: 0px;
	border: 1px solid rgb(235,235,235);
	border-right: none;	
	overflow-y: scroll;
	padding: 0.5em;
	min-width: 50%;
	height: auto;
	color: rgb(100,100,100);
}


.comment_button{
	background-color: #5bc0de;
	border: 1 px solid #5bc0de;
	margin: 5px;
	padding: 10px;
	margin-left: 0px;
	width: 20%;
	text-align: center;
	color: white;
	cursor: pointer;
}

.user_info{
	font-size: 12px;
	color: rgb(100,100,100);
}

.previous_comments{
	/*border: 1px solid #5bc0de;*/
	padding: 5px;
	margin: 5px;	
}

.comment_container{
	margin: 10px;
	padding: 10px;	
}

.comment_reply{
	margin-left: 10%;
}

.comment_thread{
	background-color: rgb(245,245,245);
	padding:5px;
}

.reply_button{
	outline: none;
	border: none;
	font-size: 13px;
	background-color: rgb(245,245,245);
}

.reply_button:hover{
	outline: 1px solid white;
	background-color: black;
	color: white;
}

