{% extends "products/layout.html" %}

{% load static %}
{% block title %}
    Details
{% endblock %}
{% block body %}

	<link href="{% static 'products/css/product_detail.css' %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Neuton:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700;800&display=swap" rel="stylesheet">
	<link href="{% static 'products/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

	
	<div class="product_outer">
		

			<div class="image_view product_inner">
				<img src="{{ product.image_url }}" class="product_image">

				{% if in_cart %}
					<button class="cart_button added" data-id="{{product.id}}" onclick="addToCart(this.getAttribute('data-id'))" data-buttonWork="remove">Remove From Cart</button>
				{% else %}
					<button class="cart_button" data-id="{{product.id}}" onclick="addToCart(this.getAttribute('data-id'))" data-buttonWork="add">Add To Cart</button>
				{% endif %}
			</div>

			<div class="product_details product_inner">
				<div class="product_title">
					<b>{{ product.title }}</b>
				</div>
				<br>

				<div class="product_concentration">
					<p>
						<b>{{ product.concentration }}</b>
					</p>
				</div>
				<br>

				<div class="product_description">
					<p>
						{{ product.description }}
					</p>
				</div>

			</div>				

			<div class="product_ingredients product_inner">
				<b> Ingredients </b><br>
				<span class="ingredients">{{ product.product_ingredients }}</span>
			</div>
	</div>


	<div class="comment_section">

		<div class="comment_title"><b> Comments </b></div>
		<hr>
		<div class="comment_row" onclick="addComment()">
			<input class="comment_textbox" id="comment_text" contenteditable placeholder="Add a comment .."></input>
			<submit class="comment_button" data-buttonWork="comment" data-postID="{{product.id}}">Comment</submit>
		</div>

		{% if comments %}

		<div class="previous_comments">	

			{% for comment in comments %}

				<!-- main comment box  -->
				<div class="comment_thread">

					<!-- comment -->
					<div class="main_comment comment_container">

						<div class="user_info">
							<span class="username">{{ comment.user }}</span>
							<span class="Date"> · {{ comment.created_at }} · </span>
						</div>
						
						<div class="comment_text">
							{{ comment.comment_text }}
						</div>	
						<button class="reply_button" data-commentID="{{ comment.comment_id }}"><span><i class="fa fa-comment"></i> Reply</span></button>

					</div>

					<!-- reply -->

					{% if comment.replies %}

					<div class="comment_container comment_reply">

						<div class="reply_containers">

							{% for reply in comment.replies %}

							<hr>

							<div class="reply_thread">
								<div class="user_info">
									<span class="username"> {{reply.user}} </span>
									<span class="Date"> · {{reply.created_at}} · </span>
								</div>
								
								<div class="comment_text">
									{{reply.reply_text}}
								</div>							
							</div>

							{% endfor %}
						
						</div>
									
						<!-- in the end is reply button -->
						<div class="comment_row reply_row" id="{{ comment.comment_id }}">
							<input class="comment_textbox" id="comment_text" contenteditable placeholder="Add a comment .."></input>
							<submit class="comment_button" role="reply" data-commentID="{{ comment.comment_id }}">Reply</submit>
						</div>

					</div>					

					{% endif %}

				</div>

			{% endfor %}

		</div>

		{% endif %}

	</div>


	<!-- Comment Model -->
	<div id="comment_model" class="comment_thread" style="display: none;" >

		<!-- comment -->
		<div class="main_comment comment_container">

			<div class="user_info">
				<span class="username"></span>
				<span class="Date"></span>
			</div>
			
			<div class="comment_text"></div>	
			<button class="reply_button" data-commentID=""><span><i class="fa fa-comment"></i> Reply</span></button>
		</div>

	</div>


	<!-- Comment Reply Model -->
	<div id="reply_model" class="comment_container comment_reply" style="display: none;" >
		<div class="reply_containers">

			{% for reply in comment.replies %}

			<hr>

			<div class="reply_thread">
				<div class="user_info">
					<span class="username"> {{reply.user}} </span>
					<span class="Date"> · {{reply.created_at}} · </span>
				</div>
				
				<div class="comment_text">
					{{reply.reply_text}}
				</div>							
			</div>

			{% endfor %}
		
		</div>
					
		<!-- in the end is reply button -->
		<div class="comment_row reply_row">
			<input class="comment_textbox" id="comment_text" contenteditable placeholder="Add a comment .."></input>
			<submit class="comment_button" role="reply" data-commentID="{{ comment.id }}">Reply</submit>
		</div>
	</div>



	
	{% csrf_token %}

	<script src="{% static 'products/js/add_to_cart.js' %}"></script>
	<script src="{% static 'products/js/add_comment.js' %}"></script>

{% endblock %}